{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "globals": {},
  "rules": {
    "indent": [
      2,
      2
    ],
    "quotes": [
      2,
      "single"
    ],
    "semi": [2, "always"],
    "no-trailing-spaces": [2, { "skipBlankLines": true }]
  },
  "plugins": [
    "react"
  ]
}
